<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title%}
    {% endblock %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/classes.css">


    {% block css %}{% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="logo left">后台管理系统</div>
        <div class="avatar right" style="position: relative;">
            <img style="height: 40px;width: 40px" src="/static/images/timg.jpg">
            <div class="user-info">
                <a>资料</a>
                <a>退出</a>
            </div>

        </div>
        <div class="rmenus right">
            <a>消息</a>
            <a>邮件</a>
        </div>

    </div>
    <div class="pg-body">
        <div class="menus" >
            <a>班级管理</a>
            <a>老师管理</a>
            <a>课程管理</a>
        </div>
    </div>

    <div class="content">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
        {% block xx %}{% endblock %}
    </div>


    {% block js %}{% endblock %}
</body>
</html>