{% extends 'base.html' %}
{% block title %}
    <title>用户</title>
{% endblock %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block xx %}
   <form method="POST" action="/classes/edit_user/">
        <input name="nid" style="display: none" value="{{ nid }}"/>
        <p>用户名</p>
        <input type="text", name="username" value="{{ username }}"/>
        <p>密码</p>
        <input type="text", name="password" value="{{ password}}"/>
        <p></p>
        <input type="submit", value="修改"/>

    </form>
{% endblock %}


{% block js %}

{% endblock %}