<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <title>用户</title>
</head>
<body>

    <div style="width: 1000px;margin: auto">
        <p>用户列表</p>
        <div style="margin: 10px 0;">
        <a class="btn btn-primary" href="/classes/add_user/">新增</a>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td>用户ID</td>
                    <td>用户名</td>
                    <td>密码</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}

                    <tr>
                        <td>{{ user.nid }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td><a href="/classes/del_user/?nid={{ user.nid }}">删除</a>|<a href="/classes/edit_user/?nid={{ user.nid }}">修改</a></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>